#========================================================
#    Pin assignment for Xilinx
#    Nexys2 RSA_CRT
#========================================================

#========================================================
# clock
#========================================================
NET "clk" LOC = "B8";

#========================================================
# buttons
#========================================================
NET "btnC" CLOCK_DEDICATED_ROUTE = FALSE | LOC = "B18";
NET "btnU" CLOCK_DEDICATED_ROUTE = FALSE | LOC = "D18";
NET "btnL"	 LOC = "E18";

#========================================================
# leds
#========================================================
NET "led<0>"	 LOC = "J14";
NET "led<1>"	 LOC = "J15";

#========================================================
# txd
#========================================================
NET "txd" LOC = "P9";
