#========================================================
#    Pin assignment for Xilinx
#    Nexys2 RSA_CRT
#========================================================

#========================================================
# clock
#========================================================
#NET "clk"   LOC = "T9";
NET "clk" LOC = "B8";
#========================================================
# buttons
#========================================================
#NET "btnC"   LOC = "M13";
#NET "btnU"   LOC = "M14";
#NET "btnL"	 LOC = "L13";
NET "btnC" CLOCK_DEDICATED_ROUTE = FALSE | LOC = "B18";
NET "btnU" CLOCK_DEDICATED_ROUTE = FALSE | LOC = "D18";
NET "btnL"	 LOC = "E18";
#NET "btnR"   LOC = "H13";

#========================================================
# leds
#========================================================
#NET "led<0>"	 LOC = "K12";
#NET "led<1>"	 LOC = "P14";
NET "led<0>"	 LOC = "J14";
NET "led<1>"	 LOC = "J15";

#========================================================
# txd
#========================================================
#NET "txd" LOC = "R13";
NET "txd" LOC = "P9";
