#========================================================
#    Pin assignment for Xilinx
#    Nexys 4
#========================================================

#========================================================
# clock
#========================================================
NET "clk"   LOC = "E3"

#========================================================
# buttons
#========================================================
NET "btnC"   LOC = "E16"
NET "btnU"   LOC = "F15"
NET "btnL"	 LOC = "T16"

#========================================================
# leds
#========================================================
NET "led<0>"	 LOC = "T8"
NET "led<1>"	 LOC = "V9"
