#========================================================
#    Pin assignment for Xilinx
#    Spartan 3 RSA_CRT
#========================================================

#========================================================
# clock
#========================================================
NET "clk"   LOC = "T9";

#========================================================
# buttons
#========================================================
NET "btnC"   LOC = "M13";
NET "btnU"   LOC = "M14";
NET "btnL"	 LOC = "L13";

#========================================================
# leds
#========================================================
NET "led<0>"	 LOC = "K12";
NET "led<1>"	 LOC = "P14";

#========================================================
# txd
#========================================================
NET "txd" LOC = "R13";
