#========================================================
#    Pin assignment for Xilinx
#    Spartan-3 Starter board
#========================================================

#========================================================
# clock
#========================================================
NET "clk"    LOC = "T9" ;

#========================================================
# buttons
#========================================================
# 4 pushbuttons
NET "btnC"   LOC = "M13";
NET "btnU"   LOC = "M14";

#========================================================
# 1 discrete LED
#========================================================
NET "led"  LOC = "K12";
